.Container {
    position: relative;
}

.LoaderContainer {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.InputText {
    width: 100%;
    height: 46px;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 16px;
    color: #3a3a3a;
    font-weight: 400;
}
