.loader,
.loader:after {
    border-radius: 50%;
    width: 22px;
    height: 22px;
}
.loader {
    margin: 0px auto;
    font-size: 2px;
    position: relative;
    text-indent: -9999em;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    border-right: 3px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    border-left: 3px solid #333333;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
