.Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 -32px -30px;
}

.Col6 {
    width: 50%;
    padding: 0 32px 30px;
    @media (max-width: 768px) {
        width: 100%;
    }
}
