.Button {
    width: 125px;
    height: 48px;
    background-color: #58b4ae;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    @media (max-width: 768px) {
        width: 100px;
        height: 44px;
    }
    @media (max-width: 350px) {
        width: 100%;
    }
    &:hover {
        background-color: #428a85;
    }
}

.Button2 {
    width: 125px;
    height: 48px;
    background-color: transparent;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #3a3a3a;
    border: 1px solid #58b4ae;
    cursor: pointer;
    transition: border 0.3s;
    @media (max-width: 768px) {
        width: 100px;
        height: 44px;
    }
    @media (max-width: 350px) {
        width: 100%;
    }
    &:hover {
        border: 1px solid #428a85;
    }
}
