.Wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    @media (max-width: 768px) {
        min-height: inherit;
    }
}
