@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #e5e5e5;
}

input,
button,
select {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
  margin-bottom: 36px;
  @media (max-width: 768px) {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  color: #3a3a3a;
  margin-top: 33px;
  @media (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  margin-top: 8px;
  @media (max-width: 768px) {
    br {
      display: none;
    }
  }
}

.center {
  text-align: center;
}
