.Table {
    width: 100%;
    tr {
        td {
            padding: 15px 0;
            &:last-child {
                text-align: right;
                color: #3a3a3a;
            }
        }
    }
}
