.ButtonCenter {
    margin-top: 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    button {
        margin: 0 12px;
        @media (max-width: 768px) {
            margin: 0 5px;
        }
        @media (max-width: 350px) {
            margin: 0 0 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
